{
    "presets": ["@babel/preset-typescript"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./src",
                    "@/utils": "./src/utils",
                    "@/components": "./src/components"
                }
            }
        ]
    ]
}
